.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  visibility: hidden;
  display: none;
}

.err {
  color: red;
  font-weight: 800;
}

.log-Reg {
  margin: 10px;
  padding: 10px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  color: black;
}

body {
  height: 100%;
  width: 100%;
}

#contact-form {
  align-items: center;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  border: solid black 1px;
  padding: 10px;
}

.left-wording {
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
  text-align: left !important;
}

.input {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  word-wrap: break-word;
  word-break: break-all;
  height: auto;
  overflow-wrap: break-word;
  border: black 2px solid !important;
}

#valueInput,
#transNameInput {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}

.newTransLabel {
  color: black;
  font-weight: bold;
}

.page {
  position: relative;
  margin-bottom: 80px;
}
