#rightNav {
  margin-right: 10px !important;
}

.dropDownNavItems {
  font-size: 14px !important;
}

.dropDownNavPieces {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.selected {
  font-weight: bold;
}

.nav-link,
.navbar-brand {
  color: white !important;
}

nav {
  background-color: black !important;
}
